global.inc.php
nsConverter/conf/config.inc.php
nsConverter/conf/constants.inc.php
nsConverter/build_meta.sh
test/config.inc.php
test/meta/Auto/
test/meta/Business/
test/meta/DAOs/
test/meta/Proto/
test/main/data/urls/parser.dump.new
.idea
test/onphp
/nbproject/

