.swp
.buildpath
.project
.settings
vendor
composer.lock
global.inc.php
tests/config.inc.php
tests/Meta/Auto/
tests/Meta/Business/
tests/Meta/DAO/
tests/Meta/Proto/
tests/Main/data/urls/parser.dump.new
.idea
tests/onphp
/nbproject/
