global.inc.php
test/config.inc.php
test/meta/Auto/
test/meta/Business/
test/meta/DAOs/
test/meta/Proto/
test/main/data/urls/parser.dump.new
.idea
test/onphp

doc/doxy/spl-5.2.3
doc/www/css
doc/www/pix
