/* $Id$ */

	body {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
	
/* headings */

	h1, h2, h3, h4 {
		font-weight: lighter;
		margin-top: 0;
		padding-top: 5;
		padding-bottom: 5;
	}
	
	h1 {
		font-size: 190%;
		padding-left: 0.5%;
	}
	
	h2 {
		padding-left: 1%;
	}
	
	h3 {
		padding-left: 2%;
	}
	
	h4 {
		padding-left: 3%;
	}

/* paragraphs */
	
	p, ul, li {
		font-family: verdana;
		color: #7D767D;
	}
	
	p {
		text-align: justify;
		padding: 5px 0 0 12px;
	}
	
	p.plain {
		text-align: justify;
		padding: 0px 0 0 12px;
	}
	
	p.mini {
		text-align: left;
		padding: 0px 0 4 12px;
		font-size: 90%;
	}
	
	p.damnSmall {
		text-align: left;
		padding: 0px 0 4 12px;
		font-size: 80%;
	}
	
	p.miniCenter {
		text-align: center;
		padding: 0px 0 4 4px;
		font-size: 90%;
		line-height: 27px;
	}
	
	p.note {
		text-align: right;
		font-size: 75%;
		padding: 5px 5 5 5px;
	}
	
	p.language {
		text-align: center;
		font-size: 95%;
		padding: 0px 0 0 0px;
	}
	
/* table's stuff */
	
	td.links {
		padding: 0px 0 0 12px;
		text-align: center;
		font-size: 100%;
		font-family: arial;
		font-weight: lighter;
	}
	
	table.main, td.main {
		border: 2px solid black;
	}
	
	table.mainLight, td.mainLight {
		border: 2px solid darkGrey;
	}
	
	td.bottomLine {
		border-bottom: 2px solid black;
	}
	
	td.topLine {
		border-top: 2px solid black;
	}
	
/* preformatted */
	
	pre {
		background-color: whiteSmoke;
		border: 1px solid black;
		margin-left: 5%;
		margin-right: 5%;
		padding: 1% 1% 1% 1%;
	}
	
	pre.warning {
		background-color: #FFD2D5;
		font-family: times, "times new roman";
		font-size: 125%;
	}
	
/* links */
	
	a:link {
		color: blue;
		text-decoration: none;
	}
	
	a:visited {
		color: blue;
		text-decoration: none;
	}
	
	a:hover {
		color: darkBlue;
		background-color: whiteSmoke;
		text-decoration: underline;
	}
	
	a:active {
		color: red;
		text-decoration: none;
	}
	
/* unused line */
	
	hr {
		width: 75%;
		height: 1px;
	}
	
/* php's coloring and random stuff */

	span.red	{ color: #DD0000; }
	span.green	{ color: #007700; }
	span.blue	{ color: #0000BB; }
	span.orange	{ color: #FF8000; }
	
	span.current {
		color: darkgrey;
	}
	
	span.date {
		color: black;
	}