<?xml version="1.0"?>
<!DOCTYPE metaconfiguration SYSTEM "meta.dtd">

<!-- $Id$ -->

<metaconfiguration><classes>

	<class name="StatisticVisitor" type="final">
		<properties>
			<identifier type="BigInteger" name="id" />
			<property name="when" type="Timestamp" required="true"/>
			
			<property name="region" type="Region" required="false" relation="OneToOne"/>
			
			<property name="ip" type="Inet" required="false"/>
		</properties>
		<pattern name="DictionaryClass" />
	</class>
	
	<class name="StatisticQuery" type="final">
		<properties>
			<identifier type="BigInteger" name="id" />
			<property name="query" type="String" required="true"/>
			<property name="media" type="String" required="true" size="100" />
			<property name="when" type="Timestamp" required="true"/>
			<property name="found" type="Integer" required="true" />
			
			<property name="region" type="Region" required="false" relation="OneToOne"/>
			
			<property name="ip" type="Inet" required="false"/>
		</properties>
		<pattern name="DictionaryClass" />
	</class>
	
	<class name="StatisticClick" type="final">
		<properties>
			<identifier type="BigInteger" name="id" />
			<property name="query" type="StatisticQuery" required="true" relation="OneToOne"/>
			<property name="when" type="Timestamp" required="true"/>
			<property name="site" type="String" required="true"/>
		</properties>
		<pattern name="DictionaryClass" />
	</class>
	
	<class name="Region">
		<properties>
		
			<identifier name="id" type="Integer" />
			
			<property name="name" type="String" size="255" required="true"/>
			
			<property name="country" type="String" size="100" />
			
			<property name="parent" type="Region" required="false" relation="OneToOne"/>
			
		</properties>
		<pattern name="DictionaryClass" />
	</class>

</classes></metaconfiguration>