<?xml version="1.0"?>
<!DOCTYPE metaconfiguration SYSTEM "meta.dtd">

<!-- $Id$ -->

<metaconfiguration><classes>

	<class name="Administrator" type="final">
		<properties>
			<identifier name="id" />
			
			<property name="username" type="String" size="64" required="true" />
			<property name="password" type="String" size="40" required="true" />
			
		</properties>
		
		<pattern name="DictionaryClass" />
	</class>

</classes></metaconfiguration>